fastapi==0.135.2
uvicorn==0.42.0
numpy==2.2.4
scikit-learn==1.6.1
joblib==1.5.3
pandas==2.2.3
shap==0.46.0
torch==2.6.0
xgboost==2.1.4
python-multipart==0.0.22
sqlalchemy==2.0.48
langchain==0.3.23
langgraph==0.3.20
langchain-openai==0.3.12
langchain-ollama==0.3.1